{% extends "base.html" %}

{% block content %}

<header>
  <h1>Alan's Genealogy Tools</h1>

  <p>No data from your GEDCOM files will be stored. All tools are made just for fun - use at your own risk.</p>

</header>

<section class="tiles">
  <article class="style1">
    <a href="/spouse-relative-checker">
      <h2>Spouse-Relative Checker</h2>
      <div class="content">
        <p>Get a report of everyone who is married to a relative, along with their closest shared ancestor.</p>
      </div>
    </a>
  </article>
</section>

{% endblock %}